
{% extends 'base.html' %}

{% block head %}
<title>Copyright Homepage</title>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
{% endblock %}
{% block body %}
  <div class="container">
    <div class="nav-wrapper">
      <div class="left-side">
        <div class="nav-link-wrapper">
          <a href="main.html">Home</a>
        </div>

        <div class="nav-link-wrapper active-nav-link">
          <a href="about.html">About</a>
        </div>
      </div>

    </div>

    <div class="content-wrapper">
      <div class="two-column-wrapper">
        <div class="profile-image-wrapper">
          <img src="images/copyright.jpg" alt="">
        </div>

        <div class="profile-content-wrapper">
          <h1>Hi, thanks for visiting this site.</h1>
          <p>
          </p>

          <p></p>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}