<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_css.css') }}">

   

    {% block head %}{% endblock %}
</head>

<body>
    <!-- message flash -->

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        <br>{{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- end of flash message  -->

    {% block body %}{% endblock %}
</body>

</html>