{% extends 'base.html' %}

{% block head %}
<title>Copyright Management</title>

{% endblock %}


{% block body %}
<!-- <nav class="navbar navbar-dark bg-dark"> -->
  <!-- Navbar content -->
<!-- </nav> -->
<div class="container">
  <div class="nav-wrapper">
      <div class="left-side">
        <div class="nav-link-wrapper">
          <a href="{{url_for('register')}}">Register</a>
        </div>
        <div class="nav-link-wrapper">
          <a href="{{url_for('login')}}">Login</a>
        </div>
        <div class="nav-link-wrapper active-nav-link">
          <a href="{{url_for('main')}}">Main</a>
        </div>
        <div class="nav-link-wrapper">
          <a href="{{url_for('home')}}">About</a>
        </div>
      </div>
    </div>
</div>
	<center>
    <!-- <form > -->
      <br>
      <br>
      <br>
      <br>
	    
    <div class = "functions call">
      <textarea class="right_desc" rows="4" cols="50" placeholder="enter the copyright description......"></textarea>
      <br>
      <br>
      <a class = "cr" href = "{{ url_for('createtoken') }}" ><button> CreateToken</button> </a>
      <br>
      <br>
      <form class="form-inline" action='{{url_for("transfertokens")}}' method="get">
        
        <div class="form-group mx-sm-3 mb-2">
          <label for="bc_eth_Address" class="sr-only">to address</label>
          <input type="text" class="form-control" id="bc_eth_Address" placeholder="to addresss" name=eth_address>
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="tokenid" class="sr-only">tokenid </label>
          <input type="text" class="form-control"  id="tokenid" placeholder="Tokenid" name=token>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Transfer Token </button>
      </form>
    
    
   
      <!-- <a class = "tft" href = "{{ url_for('transfertokens') }}" ><button> TransferTokens</button> </a> -->
    </br>
    <br>
      <a class = "tnft" href = "{{ url_for('getnumberoftokens') }}" ><button> getnumberoftokens</button> </a>
    </br>
    <br>  
      <a class = "tut" href = "{{ url_for('getUserCount') }}" ><button> getUserCount</button> </a>
    </br>
    <br>
      <!-- <a class = "tngot" href = "{{ url_for('getnumberoftokenownedbyuser') }}" ><button> getnumberoftokenownedbyuser</button> </a> -->
      <form class="form-inline" action='{{url_for("getnumberoftokenownedbyuser")}}' method="get">
        
        <div class="form-group mx-sm-3 mb-2">
          <label for="bc_eth_Address2" class="sr-only">eth address</label>
          <input type="text" class="form-control" id="bc_eth_Address2" placeholder="eth addresss" name=eth_address>
        </div>
        
        <button type="submit" class="btn btn-primary mb-2">Check user Tokens </button>
      </form>
    </br>
      <br>
      <!-- <a class = "tuit" href = "{{ url_for('getUserinfo') }}" ><button> getUserinfo</button> </a> -->
      <form class="form-inline" action='{{url_for("getUserinfo")}}' method="get">
        
        <div class="form-group mx-sm-3 mb-2">
          <label for="bc_eth_Address3" class="sr-only">eth address</label>
          <input type="text" class="form-control" id="bc_eth_Address3" placeholder="eth addresss" name=eth_address>
        </div>
        
        <button type="submit" class="btn btn-primary mb-2">Check user info  </button>
      </form>
    </br>
    <br>
      <!-- <a class = "tot" href = "{{ url_for('gettokenowner') }}" ><button> gettokenowner</button> </a> -->
      <form class="form-inline" action='{{url_for("gettokenowner")}}' method="get">
        
        <div class="form-group mx-sm-3 mb-2">
          <label for="tokenID" class="sr-only">eth address</label>
          <input type="text" class="form-control" id="tokenID" placeholder="Token Id" name="id">
        </div>
        
        <button type="submit" class="btn btn-primary mb-2">check owner of this token </button>
	 <br></br>
	<div>
        <a class = "lo" href = "{{ url_for('logout') }}" ><button>logout</button> </a>
        </div>
      </form>
    
    </br>
   
    </div> 
   
  
  </center>
 
{% endblock %}
