{% extends 'base.html' %}

{% block head %}
<title>Copyright Management</title>
{% endblock %}


{% block body %}
    
	<center>
    <form >
	    
    <div class = "functions call">
      <textarea class="right_desc" rows="4" cols="50" placeholder="enter the copyright description......"></textarea>
      <br>
      <br>
      <a class = "cr" href = "{{ url_for('createtoken') }}" ><button> CreateToken</button> </a>
    </br>
    <br>
      <a class = "tft" href = "{{ url_for('transfertokens') }}" ><button> TransferTokens</button> </a>
    </br>
    <br>
      <a class = "tnft" href = "{{ url_for('getnumberoftokens') }}" ><button> getnumberoftokens</button> </a>
    </br>
    <br>
      <a class = "tut" href = "{{ url_for('getUserCount') }}" ><button> getUserCount</button> </a>
    </br>
    <br>
      <a class = "tngot" href = "{{ url_for('getnumberoftokenownedbyuser') }}" ><button> getnumberoftokenownedbyuser</button> </a>
    </br>
    <br>
      <a class = "tuit" href = "{{ url_for('getUserinfo') }}" ><button> getUserinfo</button> </a>
    </br>
    <br>
      <a class = "tot" href = "{{ url_for('gettokenowner') }}" ><button> gettokenowner</button> </a>
    </br>
   
    </div> 
    </form>
  
  </center>
 
{% endblock %}
